@tailwind base;
@tailwind components;
@tailwind utilities;

.b {
  border: 2px solid red;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-image: url("/bghome.jpg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background) var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  position: relative; /* Necessary for the ::before element */
  overflow-x: hidden; /* Prevent horizontal scrolling caused by the pseudo-element */
}

body::before {
  content: "";
  position: absolute;
  inset: 0; /* Covers the entire body */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: -1; /* Places it below the content of the body */
  pointer-events: none; /* Prevents interaction with the overlay */
}
